body {
    margin: 0;
}

.header-logo {
    height: auto;
    width: 100px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #e5e7eb;
}

.main-img {
    height: auto;
    width: 600px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
    background-color: #1f2937;
}

.web-desc-container {
    width: 40%;
}

.main-description {
    font-size: 3rem;
    color: #e5e7eb;
}

.sub-description {
    font-size: 1.125rem;
    color: #e5e7eb;
}