body {
    margin: 0;
}

.header-logo {
    height: auto;
    width: 100px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #e5e7eb;
}

.main-img {
    height: auto;
    width: 600px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
    background-color: #1f2937;
}

.web-desc-container {
    width: 40%;
}

.main-description {
    font-size: 3rem;
    color: #e5e7eb;
}

.sub-description {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.signup-button {
    background-color: #3882f6;
    padding: 5px 8px;
    color: white;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 1.25rem;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-title {
    font-size: 2rem;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    font-size: 1.125rem;
    text-align: center;
}

.img-container {
    border: 3px solid #3882f6;
    border-radius: 5px;
    display: flex;
}

.info-img {
    height: auto;
    width: 100%;
}